ErrorDocument 404 /others/404.html
ErrorDocument 400 /others/400.html
DirectoryIndex index.php index.html
<Files *>
    Options -Indexes
</Files>

<FilesMatch "/libs/">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "conn.php">
    Order allow,deny
    Deny from all
</FilesMatch>

