input {
    opacity: 70;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;

}

input[type="submit"] {
    width: 80px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #EEE;
    background-image: linear-gradient(#FCFCFC, #EEE);
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    -moz-user-select: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    line-height: 18px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #CCC;
    border-radius: 3px;
    outline: medium none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset;
}

.btn {
    background-color: #60B044;
    background-image: linear-gradient(#8ADD6D, #60B044);
    border-bottom-color: #5CA941;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #5CA941;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #5CA941;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #5CA941;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 15px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 700;
    line-height: 20px;
    margin-left: 5px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    position: relative;
    text-decoration: none;
    text-decoration-color: #FFF;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: rgba(0, 0, 0, 0.15) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;

}